<div class="text-center">
    <h1>Bevo's Bookstore Home</h1>
</div>
<br />

<div class="text-center">
    <a asp-action="CheckoutDirect" class="btn btn-primary">Direct Order</a>
    <a asp-action="CheckoutWholesale" class="btn btn-danger">Wholesale Order</a>
</div>